.titulocursos{
    color:red;
}

.contenedorLogoCusos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    position: relative; 
}

.logoTrabajoCursos{   
    position: relative;
    width: 200px;
    padding: 5% 15%;
    margin: 25% 0;
    background-color: rgba(255, 255, 255, 0.788);
    border-radius: 5% 5%;
    transition: 0.5s; 
}

.logoTrabajoCursos:hover{
    width: 230px;
    margin: 13% 0;
}

.contenedorCursos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenedorCurso{
    width: 300px;
    height: 150px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.719),rgba(255, 255, 255, 0.446)), url(../multimedia/happy-young-asia-businessmen-and-businesswomen-meeting-brainstorming-ideas-about-new-paperwork-project.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.tituloCurso{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0;
}

.aclaracionCurso{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 2%;
}

.descripcionCurso{
    font-size: 1rem;
    text-align: center;
    margin-top: 2%;
}

.btnWhats{
    width: 3%;
    padding: 1%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    border-radius: 43%;
    text-align: center;
    transition: 0.5s;
}

.btnWhats:hover{
    background-color: #a1f2ba;
}