.titulocursos{
    color:red;
}

.contenedorLogoCusos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    position: relative; 
}

.logoTrabajoCursos{   
    position: relative;
    width: 200px;
    padding: 5% 15%;
    margin: 25% 0 25% -13%;
    background-color: rgba(255, 255, 255, 0.788);
    border-radius: 5% 5%;
    transition: 0.5s; 
}

.logoTrabajoCursos:hover{
    width: 230px;
    margin-top: 5%;
    margin-bottom: 20%;
}

.contenedorCursos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contenedorCurso{
    width: 300px;
    height: 150px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.719),rgba(255, 255, 255, 0.446)), url(../multimedia/happy-young-asia-businessmen-and-businesswomen-meeting-brainstorming-ideas-about-new-paperwork-project.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 0 2% 5% 2%;
}

.filaCursos{
    display: flex;
    flex-direction: row;
    padding: 5%;
}

.fondoAzul{
    background-color: #5680bc;
    border-radius: 10px;
}

.colorBlanco{
    color: white;
}

.colorCeleste{
    color: #5680bc;
}

.tituloCurso{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0;
}

.aclaracionCurso{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 2%;
}

.descripcionCurso{
    font-size: 1rem;
    text-align: center;
    margin-top: 2%;
}

.imgRedesf{
    font-size: 50px;
    color: white;
    padding: 1% 1.3%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    border-radius: 50%;
    text-align: center;
    transition: 0.5s;
}

.imgRedesf:hover{
    background-color: white;
    color: #0df053;
}

.contenedorRedesCursos{
    display: flex;
    flex-direction: row;
    width: 20%;
}

@media (max-width: 700px){
    .imgRedesf{
        padding: 2% 2.4%;
    }

    .imgRedes{
        width: 30px;
    }

    .contenedorRedesCursos{
        margin-right: 25%;
    }
}

@media (max-width: 700px){
    .contenedorRedesCursos{
        margin-right: 30%;
    }   
}