body{
    background-color: #fafafa;
}

//------------- header -------------------
.contenedorVideoTrabajo video{
    width: 100%;
    position: absolute;
    height: 400px;
    object-fit: cover;
}

.logoTrabajo{
    width: 250px;
    padding: 5% 15%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.788);
    border-radius: 5% 5%;
    transition: 0.5s;
}

.logoTrabajo:hover{
    width: 300px;
}

.contenedorMenuTrabajo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
    height: 400px;
}

//---------------- section ------------------
.imgForm{
    width: 500px;
}

.contenedorSectionTrabajo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #5680bc;
    border-radius: 5px 50px;
    margin: 0 5% 0 5%;
}

//---------------- main -----------------------
.marginTitulo{
    margin: 10% 0 5% 0;
}

.contenedorTrabajos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Trabajo{
    width: 250px;
    height: 430px;
    background-color: #5680bc;
    border-radius: 5px 50px;
}

.tituloTrabajo{
    color:black;
    padding: 5%;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.275);
}

.subtituloTrabajo{
    color: white;
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.104);
}

.parrafoTrabajo{
    color: white;
    padding: 0 2%;
    text-align: center;
}

// ---------------------- media cueri ------------------------------
@media (max-width: 1000px){
    .contenedorForm{
        padding: 5% 0 5% 5%
    }

    .imgForm{
        width: 400px;
    }

   .contenedorTrabajos div{
       margin-bottom: 5%;
   }

    .contenedorTrabajos{
        flex-wrap: wrap;
    }
}

@media (max-width: 850px){
    .imgForm{
        display: none;
    }

    .contenedorForm{
        width: 600px;
        padding: 2% 5%;
    }

    .imgRedes{
        width: 20%;
    }

    .contenedorRedes{
        margin-right: 4%;
    }

    .tituloFooter{
        padding: 0;
    }
}

@media (max-width: 700px){
    .tituloFooter{
        display: none;
    }

    .contenedorPieDePagina{
        width: 300px;
        padding: 5% 10%;
    }

    .imgRedes{
        width: 35%;
    }

    .contenedorRedes{
        margin-right: 17%;
    }
}

@media (max-width: 600px){
    .btnTrabajo{
        margin-left: 40%;
    }

    .titulo{
        font-size: 1.5rem;
    }

    .parrafoTrabajo{
        font-size: 0.9rem;
    }
}